/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: -25px;
}

p {
    font-family: 'Amatic SC', cursive;
    font-size: 2.75rem;
    margin-bottom: 0;
}

hr {
    border: 1.5px solid black;
    margin: 8px 0;
}

.container {
    padding-inline: 0;
}

.col-lg {
    padding-inline: 0;
}

img {
    width: 650px;
    height: 200px;
}

/* Navbar Section */
li {
    list-style: none;
}

a {
    font-family: 'Amatic SC', cursive;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11.25rem;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger.active .bar:nth-child(1) {
    width: 40px;
    transform: translateY(13px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    transform: translateY(0px) translateX(-26px) rotate(-45deg);
}

.bar {
    display: block;
    width: 80px;
    height: 3px;
    margin-top: 10px;
    margin-left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.bar:last-of-type {
    width: 40px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: -100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 1s ease-in-out;
}

.nav-menu.active {
    top: 100px;
    left: 0;
}

.nav-link{
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.nav-link:hover{
    color: #9b9aa0;
}

.nav-item {
    margin: 10px;
}

.akra {
    font-family: 'Amatic SC', cursive;
    font-size: 2.75rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: black;
}

.dev {
    font-family: 'Modak', cursive;
    font-size: 6rem;
    padding-left: 5px;
    color: black;
}

#home.active {
    margin-top: 344px;
    transition: 0.8s ease-in-out;
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0 1.5rem;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .akra {
        font-size: 2rem;
    }

    .dev {
        font-size: 4.36rem;
    }

}

/* Home Section */

#home {
    margin-top: 20px;
    margin-left: 270px;
    margin-right: 270px;
    transition: 0.8s ease-in-out;
}

.eyes {
    border-radius: 0 60px 0 60px;
}

.eyes-section {
    display: flex;
    align-items: flex-end;
}

.am {
    font-size: 44px;
    font-weight: 200;
}

.webdev {
    font-size: 8rem;
    font-weight: bold;
}

.nose {
    border-radius: 0 0 50px 50px;
}

.nose-section {
    display: flex;
    align-items: flex-end;
    padding-inline: 0;
}

.nose-img-section {
    display: flex;
    justify-content: flex-end;
}

.nose-text-section {
    margin-bottom: -45px;
}

.word-of-section {
    padding-left: 27%;
    font-family: 'Amatic SC', cursive;
    font-size: 2.75rem;
    font-weight: bold;
}

.mouth-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.mouth-text-section1 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.75rem;
    line-height: 2.8rem;
    width: 5.6875rem;
    padding-inline: 0;
    margin-bottom: 0;
}

.mouth {
    border-radius: 60px 0 60px 0;
    padding-left: 12px;
}

.mouth-text-section2 {
    font-family: 'Amatic SC', cursive;
    font-size: 2.75rem;
    line-height: 2.8rem;
    padding-inline: 0;
    margin-bottom: 0;
    text-align: center;
}

.mouth-text-section3 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 18.75rem;
    line-height: 2.8rem;
    padding-inline: 0;
    padding-bottom: 30px;
}

.number {
    font-size: 7.5rem;
    margin-bottom: 0;
}

/* media query Home Section */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 3.8rem;
        margin-bottom: -15px;
    }
    
    .navbar {
        padding: 0 5.625rem;
    }

    #home {
        margin-left: 200px;
        margin-right: 200px;
    }

    img {
        width: 310px;
        height: 100px;
    }

    .webdev {
        font-size: 3.8rem;
    }

    .nose-text-section {
        margin-bottom: -23px;
        font-size: 1.5rem;
    }

    .am {
        font-size: 1.5rem;
    }

    .mouth-text-section1 {
        font-size: 1.5rem;
        line-height: 1.4rem;
    }

    .word-of-section {
        margin-bottom: -20px;
    }

    .mouth-text-section2 {
        font-size: 1.5rem;
    }

    .mouth-text-section3 {
        font-size: 10rem;
    }

    .number {
        font-size: 3.8rem;
    }
}