.akra {
    font-family: 'Amatic SC', cursive;
    font-size: 2.75rem;
    font-weight: bold;
}

.dev {
    font-family: 'Modak', cursive;
    font-size: 6rem;
}

.navbar {
    background-color: white;
}